.nav-link {
    margin-left: 40px;
    display: flex;
    font-weight: 480;
}

#navbarSupportedContent {
    margin-left: 400px;
}

.footer-container {
    background-color: #fbfbfb;
    width: 100%;
}

.footer-links {
    text-decoration: none;
    
}